<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Abhijeet">
    <title>Safety Plan</title>
    <link rel=stylesheet type=text/css href="Plan.css">
</head>
</html>