<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Abhijeet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <%=title%>
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel=stylesheet type=text/css href="/stylesheets/style.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    <script src="/utils/index.js" defer></script>
    <!-- <script src="/utils/Inactivity.js"></script> -->


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="navbar-brand ms-3"><img
                    src="https://www.tatamotors.com/wp-content/themes/tatamotors_2019/images/tata_motors_logo.png"
                    alt="Tata Motors Aspirations Logo">
            </div>
            <button class="navbar-toggler me-1 ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon ms-auto"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5">
                    <li class="nav-item dropdown"> <a href="#" class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown" role="button" id="safetyDropdown">Safety</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://localhost:5000/graph">Target with actual</a></li>
                        <li><a class="dropdown-item" href="http://localhost:5000/actionplan">Actionplan</a></li>
                    </ul>
                    </li>
                    <li> <a href="http://localhost:5000/graph" class="nav-link">Quality</a></li>
                    <li> <a href="#" class="nav-link">Productivity</a></li>
                    <li> <a href="#" class="nav-link">Delivery</a></li>
                    <li> <a href="#" class="nav-link">Cost</a></li>
                    <li> <a href="#" class="nav-link">Morale</a></li>
                    <li> <a href="#" class="nav-link">Environment</a></li>
                    <li> <a href="#update" class="nav-link" id="update-link">Update</a></li>
                </ul>
            </div>
            <div class="navbar-brand ms-1"><img
                    src="https://www.tatamotors.com/wp-content/themes/tatamotors_2019/images/tata_logo.png"
                    alt="Tata Motors Logo">
            </div>
        </nav>
    </header>