<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
<body>
    <nav id="navigation"> 
    <figure>
    <a href="http://localhost:5000/"><img src="/images/Overview.png" alt = "Shop Overview"></a></h1>
    <figcaption>SHOP OVERVIEW</figcaption>
    </figure>
    <figure>
        <a href ="http://localhost:5000/sqdcm"><img src="/images/SQDC_Excel_Example.png" alt="SQDCME Philosophy"></a>
        <figcaption>SQDCME Philosophy</figcaption>
    </figure>
    <figure>
    <a href = "http://localhost:5000/"><img src="/images/kaizen.jpg" alt="Kaizens" width="20%" height="20%"></a>
    <figcaption>Kaizens</figcaption>
    </figure>
    </nav>
</body>
</html>