<div class="row my-5 mx-5">
  <div class="col-md-8">
    <form>
      <label for="action" class="form-label">Action Planned</label>
      <input type="text" class="form-control" id="action">
      <label for="calendar" class="form-label">Target Date</label>
      <input type="date" class="form-control" id="calendar">
      <label for="status" class="form-label">Status</label>
      <select id =status class="form-select" aria-label="Status of Action">
        <option>Active</option>
        <option>Completed</option>
        <option>Delayed</option>
      </select>
      <button type="submit" class="btn btn-primary my-3">Submit</button>
    </form>
  </div>
</div>
