<!DOCTYPE html>
<link rel="stylesheet" type = "text/css" href="/stylesheets/sidebar.css">
<script src="/utils/Sidebar.js" defer></script>
<script src="/utils/RenderDataInTable.js" defer></script>
<script src="/utils/RenderDataInChart.js" defer></script>

<html lang="en">
<body>
<nav id = 'sidebar'>
    <ul>
        <li><a href="http://localhost:5000/sqdcm">Home</a></li>
        <li data-url="http://localhost:5000/productivity/target">Productivity Target</li>
        <li data-url="http://localhost:5000/productivity/do">Productivity Do's</li>
        <li data-url="http://localhost:5000/productivity/moptrend">MOP Trend</li>
        <li data-url="http://localhost:5000/productivity/hpev2">HPeV2 Trend</li>
        <li data-url="http://localhost:5000/import_excel">Update Excel</li>
    </ul>
</nav>

<section class = "main-content"></section>

</body>
</html>