<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
<script src="/utils/Sidebar.js" defer></script>
<script src="/utils/RenderDataInTable.js" defer></script>
<script src="/utils/RenderDataInChart.js" defer></script>
<html lang="en">

<body>

    <nav id='sidebar'>
        <ul>
            <li><a href="http://localhost:5000/sqdcm">Home</a></li>
            <li data-url="http://localhost:5000/quality/do">Quality Do's</li>
            <li data-url="http://localhost:5000/quality/cpaPunch">CPA Punch</li>
            <li data-url="http://localhost:5000/quality/cpaAltroz">CPA Altroz</li>
            <li data-url="http://localhost:5000/quality/overallPunch">Overall Punch</li>
            <li data-url="http://localhost:5000/quality/overallAltroz">Overall Altroz</li>
            <li data-url="http://localhost:5000/quality/action">Quality Action Plan</li>
            <li data-url="http://localhost:5000/import_excel">Update Excel</li>
        </ul>
    </nav>

    <section class="main-content"></section>

</body>

</html>